<div class="help-section help-warm-tips" id="warmTipsSection">
    <div class="help-warm-tips-content" id="warmTipsContent">
        <p class="help-warm-tips-text" id="warmTipsText"></p>
    </div>
</div>

<div class="help-section">
    <h4 class="help-section-title">
        <img src="img/microphone.svg" alt="" class="help-section-icon">
        语音功能
    </h4>
    <p class="help-section-content">通过语音指令记录和查找物品存放位置</p>
    <ul class="help-feature-list">
        <li class="help-feature-item">
            <img src="img/location.svg" alt="位置" class="help-feature-icon">
            <span>说"把XX放在XX位置"来记录物品</span>
        </li>
        <li class="help-feature-item">
            <img src="img/search.svg" alt="搜索" class="help-feature-icon">
            <span>说"找一下XX在哪里"来查找物品位置</span>
        </li>
    </ul>
    <div class="help-example">
        <div class="help-example-title">示例：</div>
        <p class="help-example-text">"我把钥匙放在了玄关第二层台子上"</p>
        <p class="help-example-text">"钥匙在哪里？"</p>
    </div>
</div>

<div class="help-section">
    <h4 class="help-section-title">
        <img src="img/history.svg" alt="" class="help-section-icon">
        历史记录
    </h4>
    <p class="help-section-content">查看和管理之前的语音记录</p>
    <ul class="help-feature-list">
        <li class="help-feature-item">
            <img src="img/check.svg" alt="列表" class="help-feature-icon">
            <span>点击底部"记录"查看历史对话</span>
        </li>
        <li class="help-feature-item">
            <img src="img/search.svg" alt="搜索" class="help-feature-icon">
            <span>使用顶部搜索关键词快速查找记录</span>
        </li>
        <li class="help-feature-item">
            <img src="img/delete.svg" alt="删除" class="help-feature-icon">
            <span>如果有不需要的记录项目，可以左滑删除</span>
        </li>
    </ul>
</div>



<div class="help-section">
    <h4 class="help-section-title">
        <img src="img/check.svg" alt="" class="help-section-icon">
        使用技巧
    </h4>
    <ul class="help-feature-list">
        <li class="help-feature-item">
            <img src="img/idea.svg" alt="技巧" class="help-feature-icon">
            <span>描述物品位置时尽量具体详细</span>
        </li>
        <li class="help-feature-item">
            <img src="img/refresh.svg" alt="刷新" class="help-feature-icon">
            <span>如果识别有误，可以重新录音</span>
        </li>
    </ul>
</div>