<!-- 麦克风音量可视化组件 -->
<div class="volume-visualizer" id="volumeVisualizer" style="display: none;">
    <div class="volume-bars">
        <div class="volume-bar"></div>
        <div class="volume-bar"></div>
        <div class="volume-bar"></div>
        <div class="volume-bar"></div>
        <div class="volume-bar"></div>
        <div class="volume-bar"></div>
        <div class="volume-bar"></div>
        <div class="volume-bar"></div>
        <div class="volume-bar"></div>
        <div class="volume-bar"></div>
    </div>
</div>